@charset "utf-8";

* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

.select {
	background-color: yellow;
}

p {
	background-color: aqua;
}

a {
	background-color: deeppink;
}

.brown {
	background-color: brown;
}

#purple {
	background-color: purple;
}

#title {
	background-color: black;
	color: white;
}